﻿@using InvoiceApplication.Models
@model Invoice

@{
    ViewBag.Title = "AddEditInvoiceView";
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit Invoice</title>
</head>
<body>
    <div>
        @using (Html.BeginForm("SubmitInvoice","ManagerInvoice"))
        {
            @Html.ValidationSummary(false, "", new { @class = "text-danger" })
            <br>
            <p>Client Name: @Html.TextBoxFor(model => model.ClientName)</p>
            <br>
            <p>Client Address: @Html.TextBoxFor(model => model.ClientAddress)</p>
            <br>
            //ship datebox
            <p>Shipment Date (mm/dd/yyyy): @Html.EditorFor(model => model.DateOfShipment) </p>
            <br>
            //payment datebox
            <p>Payment Date (mm/dd/yyyy): @Html.EditorFor(model => model.PaymentDueDate)</p>
            <br>
            <p>Product Quantity: @Html.TextBoxFor(model => model.ProductQuantity, new { @type = "number", @min = 0,@onchange = "updateMoney()" })</p>
            <br>
            <p>Unit Price: @Html.TextBoxFor(model => model.UnitPrice, new {@onchange="updateMoney();" })</p>
            <br>
            <p>Currency Type: @Html.DropDownListFor(model => model.Currency, new[] {
                new SelectListItem() {Text = "CAD",
                     Value = CurrencyType.CAD.ToString()},
                new SelectListItem() {Text = "USD",
                    Value = CurrencyType.US.ToString()},
                new SelectListItem() {Text = "EUR",
                    Value = CurrencyType.EUR.ToString() }
                }, "Choose an option", new { @class = "form-control" })</p>
            <br>
            <p>Product Name: @Html.TextBoxFor(model => model.ProductName)</p>
            <br>



            if (Model == null)
            {
                <input type="submit" value="Submit Invoice" />
            }
            else
            {
                <script>
                    onload = function () {
                        updateMoney();
                    };

                    function updateMoney() {
                    var quantity = document.getElementById("ProductQuantity").value;
                    var price = document.getElementById("UnitPrice").value;
                    var subtotal = quantity * price;
                    var taxes = 0.10;
                    var total = subtotal + (subtotal * taxes);

                    document.getElementById("subtot").innerHTML = subtotal.toString();
                    document.getElementById("tax").innerHTML = taxes.toString();
                    document.getElementById("tot").innerHTML = total.toString();
                    }</script>
                <p>SubTotal: </p> <p id="subtot"></p>
                <p>Taxes: </p> <p id="tax"></p>
                <p>Total: </p> <p id="tot"></p>

                @Html.HiddenFor(model=>model.InvoiceNumber)
                <input type="submit" value="Save Invoice" formaction="SaveInvoice"/>
                <input type="submit" value="Mark As Paid" formaction="PaidInvoice" />
            }



        }



    </div>
</body>
</html>

