﻿@using InvoiceApplication.Models
@model IEnumerable<InvoiceApplication.Models.Invoice>
    @{
        ViewBag.Title = "ReviewReceivablesView";
    }

    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Actions</title>
    </head>
    <body>
        <div>
            <div>
                <table class="table table-bordered table-responsive table-hover" style="text-align:right">
                    <thead>
                        <tr>
                            <th>Invoice Number</th>
                            <th>Client Name</th>
                            <th>Total</th>
                            <th>Payment Due Date</th>
                        </tr>
                    </thead>
                    
                    <tbody>
                        @{decimal total=00.00m; }
                        @foreach (Invoice invoice in Model)
                        {
                            if (invoice.Paid==false) {
                        <tr>
                            <td>@Html.ActionLink(invoice.InvoiceNumber.ToString(), "ManageInvoice", invoice)</td>
                            <td>@Html.ActionLink(invoice.ClientName, "ManageInvoice", invoice)</td>
                            <td>$@(invoice.ProductQuantity * invoice.UnitPrice * 1.10m)</td>
                            <td>@invoice.PaymentDueDate.ToShortDateString()</td>
                        </tr>
                                total += (invoice.ProductQuantity * invoice.UnitPrice * 1.10m);
                            }
                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            <td></td>
                            <td></td>
                            <td>Outstanding Amt: $@total</td>
                            <td></td>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <div>@Html.ActionLink("Add Invoice","AddInvoice")</div>
        </div>
    </body>
</html>
