﻿
@{
    ViewBag.Title = "ActionsView";
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Actions</title>
</head>
<body>
    @if (ViewBag.UserName!=null) { 
        <p>Logged in as: @ViewBag.UserName</p>
    }
    <div>
        <br/><br/>
        @Html.ActionLink("Add Invoice","AddInvoice","BareUserInvoice")
        

    </div>
</body>
</html>

