﻿@using InvoiceApplication.Models
@model Invoice

@{
    ViewBag.Title = "AddEditInvoiceView";
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit Invoice</title>
</head>
<body>
    <div>
        @using (Html.BeginForm("SubmitInvoice","BareUserInvoice"))
        {
            @Html.ValidationSummary(false, "", new { @class = "text-danger" })
            <br>
            <p>Client Name: @Html.TextBoxFor(model => model.ClientName)</p>
            <br>
            <p>Client Address: @Html.TextBoxFor(model => model.ClientAddress)</p>
            <br>
            //ship datebox
            <p>Shipment Date (mm/dd/yyyy): @Html.EditorFor(model => model.DateOfShipment) </p>
            <br>
            //payment datebox
            <p>Payment Date (mm/dd/yyyy): @Html.EditorFor(model => model.PaymentDueDate)</p>
            <br>
            <p>Product Quantity: @Html.TextBoxFor(model => model.ProductQuantity, new { @type = "number", @min = 0,@onchange = "updateMoney()" })</p>
            <br>
            <p>Unit Price: @Html.TextBoxFor(model => model.UnitPrice, new {@onchange="updateMoney();" })</p>
            <br>
            <p>Currency Type: @Html.DropDownListFor(model => model.Currency, new[] {
                new SelectListItem() {Text = "CAD",
                     Value = CurrencyType.CAD.ToString()},
                new SelectListItem() {Text = "USD",
                    Value = CurrencyType.US.ToString()},
                new SelectListItem() {Text = "EUR",
                    Value = CurrencyType.EUR.ToString() }
                }, "Choose an option", new { @class = "form-control" })</p>
            <br>
            <p>Product Name: @Html.TextBoxFor(model => model.ProductName)</p>
            <br>



            if (Model == null)
            {
                <input type="submit" value="Submit Invoice" />
            }
        }



    </div>
</body>
</html>

